<header class="main_header_area">
  <nav class="navbar navbar-expand-sm navbar-expand-lg navbar-dark bg-dark_none">
  <!-- Links -->
  <ul class="navbar-nav ml-auto p-5">
    <li class="nav-item mr-3">
      <a class="nav-link" href="#"><img src="assets/imgs/icon-3.png"></a>
       
    </li>
    <li class="nav-item mr-3 dropdown">
      <a class="nav-link" href="#" data-toggle="dropdown"  role="button" aria-haspopup="false" aria-expanded="false"><img src="assets/imgs/icon-2.png"></a>
      <ul class="dropdown-menu">
         <div class="notification">
            <a href="#" class="text-black">
               <li class="font-14 p-2">Notification1</li>
            </a>
            <a href="#" class="text-black">
               <li class="font-14 p-2">Notification2</li>
            </a>
            <a href="#" class="text-black">
               <li class="font-14 p-2">Notification</li>
            </a>
         </div>
      </ul>
    </li>
    <li class="nav-item" (click)="openNav(openNav)">
      <a class="nav-link" [routerLink]="['']"><img src="assets/imgs/icon-1.png"></a>
    </li>  
    <li>
    <div id="mySidenav" class="sidenav">
       <span class="closebtn" (click)="closeNav(closeNav)">&times;</span>
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/contact']">Contact</a>
    </div>
      </li>
  </ul>
</nav>
</header>
<!--track-->
<section class=" bg-nav-img">
<div class="container-fluid container-bottom">
      <!-- Nav tabs -->
  <ul class="nav nav-tabs-custom pl-3 text-center">
    <li class="nav-item">
      <a class="nav-link text-muted active" data-toggle="tab" href="#vs">
      <i class="icon-icon-1"></i>
      <span class="clearfix"></span>	
      Vessel Schedule
    </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-muted" data-toggle="tab" href="#vt">
      	  <i class="icon-icon-2"></i>
        <span class="clearfix"></span>
        Vessel Track
      </a>
    </li>
  </ul>
  <!-- Tab content -->
  <div class="tab-content pt-5 pb-5 bg-opacity-track w-75">
    <!-- Tab pane -->
    <div id="vs" class="container  tab-pane active m-0">
      <ul class="list-style-type-none p-0 m-0 d-md-flex align-items-center">
        <li>
          <span class="dropdown-toggle cursor p-3 bg-white select-md" data-toggle="dropdown"><img src="assets/imgs/icon-8.png"> Select From Port</span>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
          </div>
        </li> 
          <li>
          <span class="dropdown-toggle cursor p-3 bg-white select-md" data-toggle="dropdown"><img src="assets/imgs/icon-9.png"> Select To Port</span>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
          </div>
        </li> 
          <li>
          <span class="dropdown-toggle cursor p-3 bg-white select-md" data-toggle="dropdown"><img src="assets/imgs/icon-10.png"> Select From Date</span>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
          </div>
        </li>
        <li class="pl-lg-5"><button type="button" class="btn btn-primary track-btn">Track Vessel</button></li>  
      </ul>
    </div>
     <!-- Tab pane -->
    <div id="vt" class="container tab-pane fade m-0">
       <ul class="list-style-type-none p-0 m-0 d-md-flex align-items-center">
        <li>
          <span class="dropdown-toggle cursor p-3 bg-white select-md" data-toggle="dropdown"><img src="assets/imgs/icon-8.png"> Select From Port</span>
          <div class="dropdown-menu">
             <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
          </div>
        </li> 
          <li>
          <span class="dropdown-toggle cursor p-3 bg-white select-md" data-toggle="dropdown"><img src="assets/imgs/icon-9.png"> Select To Port</span>
          <div class="dropdown-menu">
             <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
          </div>
        </li> 
          <li>
          <span class="dropdown-toggle cursor p-3 bg-white select-md" data-toggle="dropdown"><img src="assets/imgs/icon-10.png"> Select From Date</span>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
            <a class="dropdown-item" href="#">15-1-3</a>
          </div>
        </li>
        <li class="pl-lg-5"><button type="button" class="btn btn-primary track-btn">Track Vessel</button></li>  
      </ul>
    </div>
  </div>
</div>
</section>
  
<!--end track-->

<!-- Booking Map-->
<section>
  <div class="container-fluid">
    <h6>Bookings _ <a href="#">View All</a></h6>
        <!-- Nav tabs -->
      <ul class="nav nav-tabs-custom-map text-left p-0 m-0">
        <li class="nav-item">
          <a class="nav-link text-muted pl-0" data-toggle="tab" href="#listview">
          List View
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted active" data-toggle="tab" href="#mapview">
             Map View
          </a>
        </li>
      </ul>
  <!--end Nav tabs --> 
      <!-- Tab content -->
      <div class="tab-content  map-position">
        <!-- Tab pane -->
        <div id="listview" class="container_0  tab-pane ">
          <div class="d-flex">
          <div class="mr-3">
            <button type="button" class="btn btn-primary btn-lg">13 Currently Sailing</button>
          </div>
          <div class="mr-3">
            <button type="button" class="btn btn-light btn-lg"><span class="text-main">2</span> On Track</button>
          </div>
          <div>
            <button type="button" class="btn btn-light btn-lg"><span class="text-main">2</span> Delayed</button>
          </div>
         </div>
        </div>
        <div id="mapview" class="container_0  tab-pane active">
         <div class="d-flex">
          <div class="mr-3">
            <button type="button" class="btn btn-primary btn-lg">13 Currently Sailing</button>
          </div>
          <div class="mr-3">
            <button type="button" class="btn btn-light btn-lg"><span class="text-main">2</span> On Track</button>
          </div>
          <div>
            <button type="button" class="btn btn-light btn-lg"><span class="text-main">2</span> Delayed</button>
          </div>
         </div>
        </div>
    </div>
    <!-- end Tab content -->
  </div>  
  <div class="container-fluid p-0">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d27898.84026153807!2d77.716581!3d29.065652!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1552374208679"  frameborder="0" style="border:0;width: 100%;height: 500px" allowfullscreen></iframe>
  </div>
</section>
<!--end Booking Map-->

<!--invoice-->
<section>
<div class="container-fluid">
    <h6>Invoices _ <a href="#">View More</a></h6>
    <div class="d-block d-md-flex align-items-center">
      <h5 class="m-0 text-main mr-2">12 L</h5>
       <p class="mr-3  mb-lg-0 ">Total Money Spent (Currently FY)</p>
       <h5 class="m-0 text-main mr-2">3</h5>
       <p class="mr-3 mb-lg-0">Overdue Invoices</p>
        <h5 class="m-0 text-main mr-2">3.8 L</h5>
       <p class="mr-3 mb-lg-0">Overdue Amount</p>
        <h5 class="m-0 text-main mr-2">8</h5>
       <p class="mr-3 mb-lg-0">Pending Invoices </p>
        <h5 class="m-0 text-main mr-2">2.5 L</h5>
       <p class="mr-3 mb-lg-0">Pending Amount</p>
    </div>
     <table class="table table-borderless mt-4 table-responsive-lg">
    <thead>
      <tr>
        <th>Status</th>
        <th>Invoice Number</th>
        <th>Issued For</th>
        <th>Sl Number</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="d-flex align-items-baseline"><img src="assets/imgs/icon-11.png"> <span class="text-paid ml-1">Paid</span></td>
        <td>Doe</td>
        <td>info Pvt. Ltd.</td>
        <td>PD60456</td>
        <td>30K</td>
        <td><img src="assets/imgs/icon-14.png"></td>
        <td><img src="assets/imgs/icon-16.png"></td>
        <td><img src="assets/imgs/icon-17.png"></td>
      </tr>
      <div class="pt-2"></div>
      <tr>
        <td class="d-flex align-items-baseline"><img src="assets/imgs/icon-12.png"> <span class="text-partially ml-1">Partially Paid</span></td>
        <td>Moe</td>
        <td></td>
        <td>PD60456</td>
        <td>30K</td>
        <td><img src="assets/imgs/icon-15.png"></td>
        <td><img src="assets/imgs/icon-16.png"></td>
        <td><img src="assets/imgs/icon-17.png"></td>
      </tr>
      <div class="pt-2"></div>
      <tr>
        <td class="d-flex align-items-baseline"><img src="assets/imgs/icon-13.png"> <span class="text-unpaid ml-1">Unpaid</span></td>
        <td>Dooley</td>
        <td></td>
        <td>PD60456</td>
        <td>30K</td>
        <td><img src="assets/imgs/icon-15.png"></td>
        <td><img src="assets/imgs/icon-16.png"></td>
        <td><img src="assets/imgs/icon-17.png"></td>
      </tr>
    </tbody>
  </table>
  </div>
</section>
<!--end invoice-->
